{% extends "base.html" %}
{% load i18n %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="mb-6">
    {% if user.is_authenticated %}
        <h1 class="text-2xl font-semibold text-[#1E283D] mb-2">{% trans "Welcome" %} {{ user.get_full_name|default:user.email }}</h1>
        <p class="text-gray-500">{% trans "Here are your application data." %}</p>
    {% else %}
        <h1 class="text-2xl font-semibold text-[#1E283D] mb-2">{% trans "Welcome to our site" %}</h1>
        <p class="text-gray-500">{% trans "Please log in or sign up to access your dashboard." %}</p>
    {% endif %}
</div>

{% if user.is_authenticated %}
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-6">
        <div class="bg-white p-4 rounded-lg shadow-sm">
            <h3 class="text-lg font-semibold text-[#1E283D] mb-2">{% trans "Managed Barbers" %}</h3>
            <p class="text-2xl font-bold text-[#4B49AC]">{{ user.owned_barbers.count }} {% trans "barbers" %}</p>
        </div>
        <div class="bg-white p-4 rounded-lg shadow-sm">
            <h3 class="text-lg font-semibold text-[#1E283D] mb-2">{% trans "Total Clients" %}</h3>
            <p class="text-2xl font-bold text-[#4B49AC]">{{ user.owned_clients.count }} {% trans "clients" %}</p>
        </div>
        <div class="bg-white p-4 rounded-lg shadow-sm">
            <h3 class="text-lg font-semibold text-[#1E283D] mb-2">{% trans "Unread Alerts" %}</h3>
            <p class="text-2xl font-bold text-[#4B49AC]">3</p> <!-- Remplacez par une logique pour les alertes si nécessaire -->
        </div>
    </div>
{% else %}
    <div class="bg-white p-6 rounded-lg shadow-sm mb-6">
        <h3 class="text-lg font-semibold text-[#1E283D] mb-4">{% trans "Available Salons" %}</h3>
        <ul class="list-disc pl-5">
            {% for salon in salons %}
                <li><a href="#" class="text-[#4B49AC] hover:underline">{{ salon.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
{% endblock %}